html {
    background-color: lightslategray;
    overflow-x: hidden;
    scroll-behavior: smooth;
}



h3 {
    text-align: center;
    font-size: 10px;
    color: #333;
    margin: 10px;
}

.row {
    background-color: ivory;
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

#rowSM {
    display: fixed;
    top: 10px;
}

.p1 {
    text-align: center;
    font-size: 20px;
    color: #333;
    margin: 10px;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 0;
}

#Tli{
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #333;
    color: ivory;
    text-align: center;
}

#head{
    /* font-size: 10px; */
    font-weight: bold;
    color: white;
    text-align: center;
    padding: 10px;
    background-color: none !important;
    
}


/* li a {
    color: ivory;
    background-color: #333;
    text-decoration: none;
    text-align: center;
} */

footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    text-align: center;
    padding: 10px;
}

@keyframes cursor-animation {
    0% { transform: scale(1); }
    50% { transform: scale(1.3); }
    100% { transform: scale(1); }
}

@keyframes flyIn {
    0% { transform: translateY(-100%); }
    100% { transform: translateY(0); }
}

/* .navbar {
    background-color: #333;
    color: ivory;
    text-align: center;
    padding: 10px;
    animation: flyIn 1s ease-out;
} */

.navbar-brand {
    color: ivory;
    font-size: 30px;
    font-weight: bold;
}

.nav-item {
    margin: 10px;
    color: ivory;
}

/* #navbarNav {
    border: black;
    border-radius: 10px;
    padding: 10px;
} */

.nav-link {
    display: inline-block;
    color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}
/* .nav-link.active {
    color: white;
    text-decoration: none;
} */

.nav-link:hover {
    background-color: #333 !important;
    color: ivory !important;
}

img {
    display: block;
    width: 350px;
    height: auto;
    border: 2px solid #000;
    float: right;
}
#middlepic {
    display: block;
    width: 450px;
    height: 350px;
    border: 2px solid #000;
    float: left;

}

.btn-custom {
    display: inline-block;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.btn-custom:hover {
    background-color: #333 !important;
    color: ivory !important;
}