/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
} */
html {
    background-color: lightslategray;
    overflow-x: hidden; ;
}
h3 {
    text-align: center;
    font-size: 10px;
    color: #333;
    margin: 10px;
}

/* body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: lightblue;
    text-align: center;
} */
.row {
    background-color: ivory;
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

div {
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 0; */
}
#rowSM {
    display: fixed;
    top: 10px;
    /* justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 0;
    size: 10px; */
}

.p1 {
    text-align: center;
    font-size: 20px;
    color: #333;
    margin: 10px;
    
}
ul{
    list-style-type: none;
    display: flex;
    justify-content: middle;
    align-items: middle;
    flex-wrap: wrap;
    margin: 20px 0;

}
li{
    margin: 10px;
    /* border: 2px solid black; */
    padding : 10px;
    border-radius: 10px;
    background-color: #333;
    color: ivory; 
    text-align: center;
    /* cursor: pointer; */
    /* animation: cursor-animation 1s infinite;
}
nav-item{
    margin: 10px;
    color: ivory;
    /* cursor: pointer; */
    /* animation: cursor-animation 1s infinite; */
}
li a{
    color: ivory;
    text-decoration: none;
    text-align: center;
    /* cursor: pointer; */
    /* animation: cursor-animation 1s infinite; */
}

footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    text-align: center;
    padding: 10px;

}
/* .rowFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 0;
} */

p {
    /* margin: 10px;
    border: 2px solid black;
    padding : 10px; */
}

.col {
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 0; */
}

@keyframes cursor-animation {
    0% { transform: scale(1); }
    50% { transform: scale(1.3); }
    100% { transform: scale(1); }
}
@keyframes flyIn {
    0% { transform: translateY(-100%); }
    100% { transform: translateY(0); }
}

.navbar{
    background-color: #333;
    color: ivory;
    text-align: center;
    padding: 10px;
    animation: flyIn 1s ease-out;
}


.navbar-brand{
    color: ivory;
    font-size: 30px;
    font-weight: bold; 
}

.nav-item{
    margin: 10px;
    color: ivory;
    /* cursor: pointer; */
    /* animation: cursor-animation 1s infinite; */
}

#navbarNav{
    border: black;
    border-radius: 10px;
    padding: 10px;

}
.nav-link {
    color: ivory;
    background-color: #333;
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;
    padding: 5px;
    animation: flyIn 1s ease-out;
    
}
/* nav a{
    color: ivory;
    text-decoration: none;
    /* cursor: pointer; */
    /* animation: cursor-animation 1s infinite; 
} */


.nav-link:hover{
    color: ivory;
    background-color: dimgray;
    /* background-color: darkred; */
    border-radius: 10px;
    /* border: #000 2px solid; */
}

img {
    display: block;
    /* margin-left: auto; */
    width: 350px;
    /* Adjust as needed */
    height: auto;
    border: 2px solid #000;
    float: right;
}
.btn-custom {
    display: inline-block;
    /* background-color: #333 !important; */
    color: white;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    /* animation: cursor-animation 1s infinite; */
}
.btn-custom:hover {
    background-color: #333 !important;
    color: ivory !important;
    /* border: 2px solid #333; */
}